---
import Gallery from "../components/Gallery.astro";
const { country, dates, activities, gallery } = Astro.props;
---

<!-- Project Week - View -->
<div class="rounded-md overflow-hidden" data-tab-content data-tab-id={`project-week_${country.code}`}>
	<!-- Project Week - Header -->
	<hgroup
		class="flex flex-col lg:flex-row gap-1 md:gap-2 lg:gap-4 text-blue-500 justify-between py-6 px-6 lg:py-8 lg:px-8 bg-blue-50 bg-opacity-50"
	>
		<h1 class="text-2xl md:text-3xl lg:text-4xl font-semibold">{country.name}</h1>
		<div class="flex flex-row gap-4 items-center">
			{
				Object.entries(dates).map(([type, date]: [string, string]) => (
					<div class="flex flex-row items-center gap-2 text-md lg:text-lg">
						<img src={`/icons/ico-${type === 'to' ? 'departure' : 'arrival'}.png`} alt="" />
						<span>
							<span class="text-light">
								{new Date(date.split("/").reverse().join("-")).toLocaleDateString(
									"en-GB",
									{ weekday: "long" }
								)}
							</span>
							<strong class="text-semibold">{date}</strong>
						</span>
					</div>
				))
			}
		</div>
	</hgroup>

	<!-- Project Week - Content -->
	<div class="bg-white py-6 px-6 lg:py-8 lg:px-8 flex flex-col gap-6 lg:grid lg:grid-cols-5 lg:gap-8">
	<!-- Project Week - Gallery -->
	<div class="col-span-3" aria-label="gallery">
		<Gallery
			id={`project-week-gallery_${country.code}`}
			images={gallery.map((image) => ({
				url: `project-weeks/${country.code}/gallery/${image}.jpg`,
				path: import(`../assets/project-weeks/${country.code}/gallery/${image}.jpg`)
			}))}
		/>
	</div>
		<!-- Project Week - Activities -->
		<div class="col-span-2" aria-label="activities">
			<h2 class="text-2xl text-blue-500 font-semibold mb-6">Activities</h2>
			<ul class="flex flex-col list-none">
				{
					activities.map(({ name, file, type }) => (
						<li class="pb-2 mb-2 gap-4 last:mb-0 border-b last:border-b-0 flex flex-col lg:flex-row lg:items-center lg:justify-between">
							<div class="flex items-center gap-3">
								<img src={`/icons/ico-file-type-${type}.svg`} alt="" />
								<span class="text-blue-500">{name}</span>
							</div>
							<div class="flex items-center gap-2">
								{['pdf', 'mp4'].includes(type) && <a title="View" class="py-1.5 px-4 rounded-md bg-blue-400 hover:bg-blue-500 text-white" href={`/project-weeks/${country.code}/documents/${file}`} target="_blank">
									{ type === 'mp4' ? (
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
										</svg>
									) : (
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
										<path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
										<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
									</svg>
									) }
								</a>}
								<a
									title="Download"
									class="py-1.5 px-4 rounded-md bg-blue-400 hover:bg-blue-500 text-white"
									href={`/national-activities/${country.code}/documents/${file}`}
									download
								>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
								</svg>
								</a>
							</div>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</div>
